body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbar {
  top: 0px;
  position: fixed;
  z-index: 1;
  gap: 20px;
  .nav-link.nav-link {
    font-size: 15px;
  }
  .nav-link.nav-link:hover {
    color: blue;
  }
  #navbarSupportedContent {
    .navbar-nav {
      button {
        height: 40px;
        width: 80px;
        border-radius: 5px;
        border: 2px blue solid;
        color: blue;
        background-color: white;
      }
      button:hover {
        background-color: blue;
        color: white;
      }
    }
  }
  #button {
    color: white;
    height: 40px;
    width: 150px;
    border-radius: 5px;
    background-color: red;
    border: none;
  }
}
#about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 700px;
  gap: 150px;
  background-image: url(https://assets-v2.scaler.com/assets/academy/svg/banner-background-34136d3a9ddff172e6bae6e3d8283c452231dcda2196b055bfa2e34e222754b7.svg);
  position: relative;
  #contents {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 0px;
    gap: 25px;
    margin-top: -150px;
    #p1 {
      font-weight: bold;
      font-size: 30px;
      width: 500px;

      color: white;
    }
    #p2 {
      font-size: 18px;
      color: skyblue;
      b {
        color: white;
        font-size: 30px;
      }
    }
    #p3 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 20px;
      #b1 {
        height: 50px;
        width: 170px;
        background-color: red;
        color: white;
        border: none;
        border-radius: 5px;
      }
      #b2 {
        height: 50px;
        width: 170px;
        background-color: white;
        color: blue;
        border-radius: 5px;
      }
    }
    #p4 {
      color: white;
      b {
        color: rgb(241, 182, 21);
      }
    }
  }
  #registration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border: 2px black solid;
    border-radius: 10px;
    background-color: white;
    padding: 20px 18px;
    height: 480px;
    margin-top: -100px;
    #texts {
      font-size: 30px;
      color: black;
      padding: 14px;
      b {
        color: red;
      }
    }
    #form {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      padding: 20px;
      overflow: scroll;
      form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 500px;
        #n {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          gap: 20px;
          input {
            height: 50px;
            width: 400px;
          }
        }
        #phone {
          display: flex;
          flex-direction: row;
          justify-content: start;
          align-items: start;
          gap: 12px;
          #n0 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: start;
            border: 1px black solid;
            padding: 12px;
            gap: 5px;
          }
          input {
            height: 50px;
            width: 320px;
          }
        }
        #g0 {
          display: flex;
          flex-direction: row;
          justify-content: start;
          align-items: start;
          gap: 8px;
          input {
            height: 50px;
            width: 120px;
          }
          select {
            height: 50px;
            width: 275px;
          }
        }
        #g1 {
          display: flex;
          flex-direction: row;
          justify-content: start;
          align-items: start;
          select {
            height: 50px;
            width: 405px;
          }
        }
        #g2 {
          display: flex;
          flex-direction: row;
          justify-content: start;
          align-items: start;
          select {
            height: 50px;
            width: 405px;
          }
        }
        #g3 {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          border: 1px black solid;
          gap: 10px;
          padding: 0px 0px;
          width: 400px;
        }
        #n1 {
          display: flex;
          flex-direction: row;
          justify-content: start;
          align-items: start;
          gap: 20px;
          button {
            padding: 8px;
            background-color: red;
            border-radius: 5px;
            color: white;
            border: none;
          }
          #n2 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;
            #seats {
              font-size: 12px;
              color: red;
            }
          }
        }
        #n3 {
          display: flex;
          flex-direction: row;
          justify-content: start;
          align-items: start;
          b {
            color: skyblue;
          }
        }
        #n4 {
          display: flex;
          flex-direction: row;
          justify-content: start;
          align-items: start;
          font-size: 12px;
        }
      }
    }
  }
}
#website {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 700px;
  #cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: white;
    padding: 40px;
    border-radius: 5px;
    #card1 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      b {
        font-weight: bold;
      }
    }
    #card {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;
      align-items: center;
      gap: 20px;
      .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 20px;
        height: 100%;
        width: 100%;
        padding: 30px;
        overflow: hidden;
        img {
          height: 50px;
          width: 80px;
        }
        .card-body {
          height: 100%;
          width: 100%;
        }
        .card-text {
          font-size: 20px;
          color: white;
        }
        #line1 {
          height: 30px;
          width: 150px;
          background-color: orange;
          rotate: 45deg;
          position: absolute;
          top: 0px;
          right: -35px;
        }
        #line2 {
          height: 30px;
          width: 150px;
          background-color: purple;
          rotate: 45deg;
          position: absolute;
          top: 0px;
          right: -35px;
        }
        #line3 {
          height: 30px;
          width: 150px;
          background-color: blue;
          rotate: 45deg;
          position: absolute;
          top: 0px;
          right: -35px;
        }
        #line4 {
          height: 30px;
          width: 150px;
          background-color: orange;
          rotate: 45deg;
          position: absolute;
          top: 0px;
          right: -35px;
        }
        #line5 {
          height: 30px;
          width: 150px;
          background-color: rgba(0, 0, 255, 0.771);
          rotate: 45deg;
          position: absolute;
          top: 0px;
          right: -35px;
        }
        #line6 {
          height: 30px;
          width: 150px;
          background-color: orange;
          rotate: 45deg;
          position: absolute;
          top: 0px;
          right: -35px;
        }
      }
    }
  }
  #design {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    #d0 {
      font-size: 30px;
    }
    #d1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
      }

      #d2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
      }
      #d3 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
      }
    }
  }
  #curriculum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(173, 216, 230, 0.275);
    width: 100vw;
    #c0 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-size: 35px;
    }
    #d1 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 30px;
      padding: 30px;
      #beg {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: 2px black solid;
        height: 100px;
        width: 330px;
        gap: 70px;
        #b1 {
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          padding: 10px;
          #names {
            font-size: 30px;
          }
          #points {
            font-size: 15px;
          }
        }
        #r1 {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 0px 20px;
          input {
            height: 40px;
            width: 40px;
          }
        }
      }
    }
    #d2 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: rgba(173, 216, 230, 0.726);
      gap: 60px;
      #part1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 10px 20px;
        #boxs {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          border: 2px black solid;
          height: 80px;
          width: 600px;
          border-radius: 5px;
          background-color: white;
          padding: 0px 10px;
          #m1 {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            #module {
              font-size: 15px;
            }
            #data {
              font-size: 20px;
            }
          }
          #month {
            font-size: 15px;
            padding: 0px 10px;
          }
        }
      }
      #part2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 500px;
        border-radius: 5px;
        gap: 40px;
        #main {
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          background-color: #387ef7;
          overflow: scroll;
          height: 450px;
          #l0 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            color: white;
            padding: 0px 30px;
            #l1 {
              font-size: 20px;
            }
            #l2 {
              border-bottom: 1px white solid;
            }
          }
          #h0 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            padding: 0px 30px;
            #h1 {
              color: rgba(255, 166, 0, 0.693);
            }
            #h2 {
              ul {
                padding: 0px 60px;
                li {
                  color: white;
                }
              }
            }
            #and {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              text-align: center;
              color: white;
            }
          }
        }
        #b0 {
          button {
            height: 40px;
            width: 500px;
            background-color: #c32742;
            color: white;
            border-radius: 5px;
            border: none;
          }
        }
      }
    }
  }
  #advisor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    gap: 20px;
    background: linear-gradient(to right, rgb(7, 7, 55) 50%, rgb(32, 32, 216));
    #a0 {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      padding: 0px 80px;
      gap: 20px;
      #talk {
        font-size: 35px;
        color: white;
        font-weight: bold;
      }
      #get {
        font-size: 15px;
        color: white;
      }
      #a1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 30px;
        color: white;
        #a2 {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          #contents {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            b {
              color: white;
            }
          }
        }
      }
      #b1 {
        button {
          height: 40px;
          width: 150px;
          color: white;
          border: none;
          background-color: #c32742;
        }
      }
    }
  }
  #discover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    gap: 20px;
    #d0 {
      font-size: 30px;
    }
    #combine {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      gap: 10px;
      #d1 {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
        gap: 30px;
        #frequent {
          border: 2px black solid;
          padding: 7px 30px;
          border-radius: 15px;
          color: black;
          border: none;
          background-color: rgba(211, 211, 211, 0.325);
        }
        #frequent:hover {
          background-color: rgba(211, 211, 211, 0.453);
        }
      }
      #d2 {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
        text-align: start;
        border: 2px black solid;
        border: none;
        padding: 7px 30px;
        border-radius: 15px;
        background-color: rgba(211, 211, 211, 0.314);
      }
      #d2:hover {
        background-color: rgba(211, 211, 211, 0.303);
      }
    }
    #b0 {
      button {
        height: 40px;
        width: 270px;
        color: white;
        border: none;
        border-radius: 5px;
        background-color: #c32742;
      }
    }
  }
  #reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #r0 {
      font-size: 30px;
      width: 850px;
    }
    #r1 {
      font-size: 15px;
    }
    #cards {
      width: 85vw;
      /* border: 2px solid black; */
      gap: 20px;
      display: grid;
      overflow-x: scroll;
      grid-template-columns: repeat(12, 1fr);
      padding: 10px;
      .card {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        width: 350px;
        padding: 10px;
        gap: 10px;
        #h1 {
          display: flex;
          flex-direction: row;
          justify-content: start;
          align-items: start;
          gap: 20px;
          #headers {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 20px;
            height: 120px;
            #m0 {
              display: flex;
              flex-direction: column;
              justify-content: start;
              align-items: start;
              #m1 {
                font-size: 16px;
                width: 120px;
              }
            }
          }
        }
      }
    }
  }
  #teaching {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    #t0 {
      font-size: 25px;
    }
    #p {
      text-align: center;
      font-size: 20px;
      width: 900px;
    }
    #t1 {
    }
    #carouselExample {
      width: 100%;
      .carousel-inner {
        .carousel-item {
          #cards {
            gap: 20px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            .card {
              .card-header {
              }
              .card-body {
                .card-title {
                  .card-text {
                  }
                }
              }
              .card-footer:hover {
                color: skyblue;
              }
            }
          }
        }
      }
    }
  }
  #scaler {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 40px;
    width: 100vw;
    background-color: rgba(0, 0, 255, 0.722);
    #s1 {
      border-radius: 100%;
      padding: 30px;
      background-color: rgba(135, 206, 250, 0.744);
    }
    #s2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      #s3 {
        font-size: 30px;
      }
      #s4 {
        font-size: 18px;
      }
    }
    #s5 {
      button {
        height: 40px;
        width: 200px;
        border-radius: 5px;
        border: none;
        background-color: white;
        color: black;
      }
    }
  }
  #next {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 60px 0px;
    margin-top: 40px;
    background-color: rgba(173, 216, 230, 0.432);
    #n1 {
      font-size: 31px;
    }
    #n2 {
      font-size: 30px;
    }
    #p {
      font-size: 17px;
      width: 90%;
      b {
        color: #358;
      }
    }
    #n3 {
      font-size: 18px;
      color: #358;
    }
    #n4 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      #n5 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        gap: 40px;
        padding: 20px 0px;
        border-radius: 20px;
        #n6 {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          #n7 {
            font-size: 20px;
            width: 200px;
          }
        }
      }
      #n8 {
        padding: 20px;
        background-color: lightskyblue;
        border-radius: 20px;
      }
    }
  }
  #services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 10px;
    #s1 {
      font-size: 30px;
      font-weight: bold;
    }
    #s2 {
      font-size: 17px;
      color: gray;
    }
    #cards {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 20px;
      .card {
        height: 200px;
        width: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        img {
          height: 70px;
          width: 70px;
          align-items: center;
          text-align: center;
          margin-top: 20px;
        }
        .card-body {
          .card-text {
            width: 220px;
            color: gray;
          }
        }
      }
    }
  }
  #roadmap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #cae0fec1;
    gap: 50px;
    width: 100%;
    padding: 20px;
    #r1 {
      font-size: 30px;
      width: 1000px;
      text-align: center;
    }
    button {
      height: 40px;
      width: 350px;
      background-color: #e12645;
      color: white;
      border-radius: 5px;
      border: none;
    }
  }
  #learning {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #l0 {
      font-size: 30px;
      width: 1050px;
      text-align: center;
    }
    #l1 {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: start;
      padding: 20px;
      gap: 30px;
      .card {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 90px;
        height: 350px;
        width: 470px;
        border-radius: 5px;
        background-image: url(https://assets-v2.scaler.com/assets/academy/svg/carousel-1-f8b2a8715c72d8a7ee95dee86294c20875ab6961b6c5d51c4e4b1ef7ba1f6ce5.svg.gz);
        .card-body {
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          gap: 20px;
        }
      }
    }
  }
  #question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    #q1 {
      font-size: 35px;
    }
    #q2 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border-top: 1px black solid;
      #q3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 20px;
        border-right: 0px black solid;
        padding: 23px;
        #q4 {
          font-size: 18px;
        }
      }
      #q5 {
        border-left: 1px black solid;
        gap: 20px;
        padding: 20px 40px;
        width: 900px;
        #q6 {
          font-size: 30px;
        }
        #accordionPanelsStayOpenExample {
          width: 900px;
          padding: 20px 20px;
          .accordion-item {
            margin-bottom: 20px;
            .accordion-header button {
              background: none;
              border: none;
              outline: none;
              box-shadow: none;
              font-size: 18px;
            }
            .accordion-button:hover {
              color: skyblue;
            }
          }
        }
      }
    }
  }
  #explore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    #e0 {
      font-size: 40px;
      b {
        font-weight: bold;
      }
    }
    #e1 {
      font-size: 20px;
      u {
        font-weight: bold;
      }
    }
    #e2 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 40px;
      gap: 20px;
      .card {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        height: 210px;
        width: 260px;
        img{
          position: relative;
        }
        #e3 {
          padding: 0px 10PX;
          color: white;
          background-color: skyblue;
          position: absolute;
          background: linear-gradient(to right,rgb(99, 173, 202),rgba(255, 255, 255, 0.375));
          top: 95px;
          width: 258px;
        }
        .card-body{
        .card-text {
          display: flex;
          flex-direction: row;
          justify-content: start;
          align-items: start;
          gap: 10px;
        }
      }
      .card-body:hover{
        box-shadow: 2px 2px 20px rgba(128, 128, 128, 0.474);
      }
      }
    }
    #e4{
      button{
        height: 40px;
        width: 240px;
        color: white;
        border: none;
        font-size: 20px;
        border-radius: 5px;
        background-color: #e12645;
      }
    }
  }
  #footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: #202738;
    padding: 30px 148px;
    gap: 30px;

    #part1 {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: start;
      gap: 130px;
      border-bottom: 2px #698fb1 solid;
      #one {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 40px;
        #main {
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          /* gap: 0px; */

          #photo {
            width: 100px;
            height: 50px;
          }
          #line {
            color: white;
          }
          #photo2 {
            width: 150px;
            height: 25px;
          }
        }
        #sub {
          display: flex;
          flex-direction: row;
          justify-content: start;
          align-items: start;

          #block {
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: start;
            gap: 8px;
            #first {
              display: flex;
              flex-direction: column;
              justify-content: start;
              align-items: start;
              gap: 5px;
              #text {
                color: white;
              }
            }
          }
        }
      }
      #two {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 20px;
        #heading {
          font-size: 25px;
          color: white;
        }
        #matter {
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          color: #698fb1;
          #text {
            font-size: 17px;
          }
        }
      }
      #three {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 20px;
        #heading {
          font-size: 24px;
          color: white;
        }
        #matter {
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          color: #698fb1;
          #text {
            font-size: 17px;
          }
        }
      }
      #four {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 20px;
        #heading {
          font-size: 25px;
          color: white;
        }
        #matter {
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          color: #698fb1;

          #line {
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: start;
            gap: 10px;
            #text {
              font-size: 17px;
            }
          }
        }
      }
    }
    #part2 {
      color: skyblue;
    }
    #part3 {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      gap: 10px;
      #heading {
        color: white;
        font-size: 23px;
      }
      #lines {
        color: #698fb1;
      }
    }
  }
}
